TUPLES
listelere göre daha hızlı ve daha güvenlidir. Çünkü içerisinden eleman silemez, eklenemez.

In [1]:
# immutable
# iterable

In [2]:
# iki yöntemle oluşturulur.
tuple()
()

()

In [3]:
tuple("Techpro")

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [7]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [8]:
tuple_1 = ("Techpro" , 3 , 3.14, False, [1,2,3] )
tuple_1

('Techpro', 3, 3.14, False, [1, 2, 3])

In [9]:
name = "Başak"

In [10]:
tuple(name)

('B', 'a', 'ş', 'a', 'k')

In [13]:
pi_number = 3,14 # virgüllerle ayrılmış değerleri python tuple olarak algılar illa paranteze gerek yoktur.
print(pi_number)
type(pi_number)

(3, 14)

tuple

In [17]:
("Techpro",) # manuel parantez aç kapa ile virgül olmasa Tuple saymazdı, tek elemanlı çünkü.

('Techpro',)

In [20]:
("Techpro") # tuple olmaz böyle

'Techpro'

In [21]:
type("techpro",) #fonksiyonun ikinci parametresinin girileceğini düşünür o yüzden str verir.

str

In [22]:
type(("techpro",)) #parantez içinde girersek tuple elde ederiz.

tuple

In [25]:
liste_1 = 3,2,5  # köşeli paranteze gerek yok, virgül ile ayırırsak düz yazıyı tuple olur

In [24]:
liste_1

(3, 2, 5)

In [26]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

In [28]:
[1,2,3] * 3 #çoğalttı

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
(1,2,3,) * 3 # tuple de çoğalır.

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
("Techrpo", 3, False) + ("Sedat") #virgül olmadığı için str oldu "Sedat" o yüzden hata verdi.

TypeError: can only concatenate tuple (not "str") to tuple

In [35]:
("Techrpo", 3, False) + ("Sedat",) #virgül olunca işlemi yaptı.

('Techrpo', 3, False, 'Sedat')

## Indexing & Slicing

In [37]:
tuple_2 = ("Aslan", 4, True, ["Tulay", 5, 6], ("Zeynep", 2, 3.14))

In [39]:
tuple_2[3][0]

'Tulay'

In [40]:
tuple_2[4][1]

2

In [42]:
tuple_2[1:4] #slicing'i neyde yaparsan data tipi öyle gelir.

(4, True, ['Tulay', 5, 6])

In [43]:
tuple_2[3:0:-1]

(['Tulay', 5, 6], True, 4)

In [48]:
tuple_2[3].append("Hi") #String döneceği için String methodları uygulanabilir.

In [51]:
tuple_2  #Tuple'lar hala immutable, biz list'i değiştirdik.
        # Tuple içindeki listeler iç işlerinde bağımsız dış işlerinde tuple'a bağımlı.

('Aslan', 4, True, ['Tulay', 5, 6, 'Hi'], ('Zeynep', 2, 3.14))

In [53]:
tuple_2[0].upper()

'ASLAN'

In [55]:
tuple_2[0] #immutable olduğu için kalıcı değişiklik yapılmadı.

'Aslan'

In [57]:
del tuple_2[3] #HATA tuple'lar değiştirilemez.

TypeError: 'tuple' object doesn't support item deletion

# Tuple Methods

In [2]:
tuple_3 = (1,4,2,5,3,5,6,7)

In [7]:
tuple_3.count(5) # 5'den kaç tane olduğunu söyledi

2

In [6]:
tuple_3.index(3) # 3'ün hangi indexte olduğunu söyledi

4

# range() fonksiyonu

In [12]:
# bir sayıdan diğer sayıya kadar olan sayıları üretir. ( start to stop )

In [15]:
range(4,10) #range sayıları üretir, ancak görüntülemek için farklı fonksiyon gerekir.

range(4, 10)

In [16]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [17]:
tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [18]:
range(4,10)[1]

5

In [20]:
range(4,10)[1:4]

range(5, 8)

In [21]:
list(range(10))  # start default değeri 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(-5,10,2)) #2'şer olarak ilerler step kısmı verdik.

[-5, -3, -1, 1, 3, 5, 7, 9]

In [27]:
list(range(10,2,-1)) # tersten de yazdırılır.

[10, 9, 8, 7, 6, 5, 4, 3]

In [35]:
print(list(range(2,51,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]