In [4]:
baba = input("baba ismi").lower()
anne = input("anne ismi").lower()
cocuk = input("cocuk ismi").lower()

cocuk_sessiz = ""

for i in cocuk:
    if i not in "aeiıoöuü":
        cocuk_sessiz += i


if len(set(anne) & set(cocuk_sessiz)) > 0 and len(set(baba) & set(cocuk_sessiz)) > 0 and set(cocuk_sessiz).issubset(set(anne) | set(baba)):
    print("Bu aile süper ailedir")
else:
    print("No Micky no that is not so right")

No Micky no that is not so right

In [11]:
def super_aile(baba,anne,cocuk): #uzunluğu 1'den fazla mı versiyonu
    
    baba = baba.lower()
    anne = anne.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz = ""

    for i in cocuk:
        if i not in "aeiıoöuü":
            cocuk_sessiz += i


    if len(set(anne) & set(cocuk_sessiz)) > 0 and len(set(baba) & set(cocuk_sessiz)) > 0 and set(cocuk_sessiz).issubset(set(anne) | set(baba)):
        print("Bu aile süper ailedir")
    else:
        print("No Micky no that is not so right")

In [9]:
super_aile("haLiL","meRve","veli")

Bu aile süper ailedir

In [12]:
def super_aile_2(baba,anne,cocuk):  #boş mu versiyonu + return versiyonu
    
    baba = baba.lower()
    anne = anne.lower()
    cocuk = cocuk.lower()

    cocuk_sessiz = ""

    for i in cocuk:
        if i not in "aeiıoöuü":
            cocuk_sessiz += i


    if set(anne) & set(cocuk_sessiz) != set()  and set(baba) & set(cocuk_sessiz) != set() and set(cocuk_sessiz).issubset(set(anne) | set(baba)):
        return "Bu aile süper ailedir"
    else:
        return "No Micky no that is not so right"

In [13]:
super_aile_2("haLiL","meRve","veli")

Bu aile süper ailedir

## filter()

None veya fonksiyon ile çalışır. True olanları döndürür. Görüntülenmesi için başka bir fonksiyona ihtiyaç duyar list gibi.

In [18]:
filter(None, "hello")

In [23]:
list(filter(None, [1,2,0,3.14,True, False, 0.0,"Techpro"] )) # İçine fonksiyon vermezsek sadece True ve truthy olanları döndürür!

[1, 2, 3.14, True, 'Techpro']

In [24]:
# Eğer fonksiyon ile çalıştırsaydık, fonkisyon sonucu true ise döndürürdü.

In [25]:
def find_odds(x): #tekse true çiftse false döndüren fonk.

    if x % 2:
        return True
    else:
        return False

In [27]:
find_odds(6)

False

In [28]:
list(filter(find_odds, [1,2,3,4,5,6,7,8,9] ))

[1, 3, 5, 7, 9]

In [29]:
def find_evens(x): #çift ise true tek ise false döndüren fonk.

    if x % 2==0:
        return True
    else:
        return False

In [30]:
list(filter(find_evens, [1,2,3,4,5,6,7,8,9] ))

[2, 4, 6, 8]

In [31]:
isimler_listesi = ["Serhan","Metehan","Medine","İrem","Cennet","Sedat"]
# İçerisindeki len'i 5 olanları bulan bir fonksiyon

In [32]:
def len_5(x):
    if len(x) == 5: return True

In [34]:
list(filter(len_5,isimler_listesi))

['Sedat']

In [35]:
def find_armstrong_2(x):  

    x = str(x)

    uzunluk = len(x) 

    if int(x) == sum([ int(i) ** uzunluk for i in x ]): 
        return int(x)

In [37]:
list(filter(find_armstrong_2,range(10,100001))) #for'a kalmadan filter ile hallettik.

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

## lambda()

kullan at gibidir.

In [42]:
lambda x,y: x ** 2 + y ** 2 # şu an lambda ile fonksiyon oluşturduk.

In [44]:
(lambda x,y: x ** 2 + y ** 2) (3,4) #lambda yazıldığı anda çalıştırılır.

25

In [47]:
(lambda x: len(x) == 5) ("Sedat")

True

In [48]:
list(filter((lambda x: len(x) == 5), isimler_listesi)) #buı şekilde def'i yeninden tanımlamadan 5'i 6 yapabiliriz.

['Sedat']

In [49]:
def len_5(x):  #Buna gerek kalmadı lambda ile.
    if len(x) == 5: return True

In [58]:
# içerisine girilen string'i tersten yazdıran bir lambda kodu oluşturunuz.
(lambda x: x[::-1]) ("Serhan")

'nahreS'

In [60]:
(lambda x: x[::-1] == x) ("nazan") #palindrom örneği

True

In [ ]:
pip install pandas

In [64]:
import pandas as pd

In [65]:
df = pd.read_csv("adult_eda.csv")

In [66]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [67]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [68]:
df.sex.apply(lambda x: 0 if x=="Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [69]:
(lambda x: x ** 2 if x % 2 else x * 2) (20)

40